{:swagger "2.0"
 :schemes ["http" "https"]
 :basePath "/"
 :tags [{:name "FHIR" :description "FHIR is the latest standard to be developed under the HL7 organization."}
        {:name "NPI" :description "A National Provider Identifier or NPI is a unique 10-digit identification number issued to health care providers in the United States."}]
 :host "npi.health-samurai.io"
 :externalDocs {:description "Find out more about US NPI"
                :url "https://npiregistry.cms.hhs.gov/"}
 :info {:contact {:email "hello@health-samurai.io"}
        :description "A service that represents US NPI registry data in FHIR format."
        :title "US NPI registry as FHIR"
        :version "0.1.0-SNAPSHOT"}
 :definitions
 {:ContactPoint
  {:description
   "Details for all kinds of technology mediated contact points for a person or organization, including telephone, email, etc."
   :properties
   {:system
    {:description
     "Telecommunications form for contact point - what communications system is required to make use of the contact."
     :enum
     ["phone"
      "fax"
      "email"
      "pager"
      "url"
      "sms"
      "other"]
     :type "string"}
    :use
    {:description
     "Identifies the purpose for the contact point."
     :enum ["home" "work" "temp" "old" "mobile"]
     :type "string"}
    :value
    {:description
     "The actual contact point details, in a form that is meaningful to the designated communication system (i.e. phone number or email address)."
     :type "string"}
    :rank
    {:description
     "Specifies a preferred order in which to use a set of contacts. Contacts are ranked with lower values coming before higher values."
     :type "number"
     :pattern "[1-9][0-9]*"}
    :period
    {:description
     "Time period when the contact point was/is in use."
     :$ref "#/definitions/Period"}}}
  :Coding
  {:description "A reference to a code defined by a terminology system."
   :properties
   {:userSelected
    {:description
     "Indicates that this coding was chosen by a user directly - i.e. off a pick list of available items (codes or displays)."
     :type "boolean"}
    :system
    {:description
     "The identification of the code system that defines the meaning of the symbol in the code."
     :type "string"}
    :code
    {:description
     "A symbol in syntax defined by the system. The symbol may be a predefined code or an expression in a syntax defined by the coding system (e.g. post-coordination)."
     :type "string"
     :pattern "[^\\s]+([\\s]?[^\\s]+)*"}
    :display
    {:description
     "A representation of the meaning of the code in the system, following the rules of the system."
     :type "string"}
    :version
    {:description
     "The version of the code system which was used when choosing this code. Note that a well-maintained code system does not need the version reported, because the meaning of codes is consistent across versions. However this cannot consistently be assured. and when the meaning is not guaranteed to be consistent, the version SHOULD be exchanged."
     :type "string"}}}
  :CodeableConcept
  {:description
   "A concept that may be defined by a formal reference to a terminology or ontology or may be provided by text."
   :properties
   {:coding
    {:description
     "A reference to a code defined by a terminology system."
     :type "array"
     :items {:$ref "#/definitions/Coding"}}
    :text
    {:description
     "A human language representation of the concept as seen/selected/uttered by the user who entered the data and/or which represents the intended meaning of the user."
     :type "string"}}}
  :HumanName
  {:description
   "A human's name with the ability to identify parts and usage."
   :properties
   {:suffix
    {:description
     "Part of the name that is acquired as a title due to academic, legal, employment or nobility status, etc. and that appears at the end of the name."
     :type "array"
     :items {:type "string"}}
    :given
    {:description "Given name." :type "array" :items {:type "string"}}
    :family
    {:description
     "The part of a name that links to the genealogy. In some cultures (e.g. Eritrea) the family name of a son is the first name of his father."
     :type "string"}
    :use
    {:description "Identifies the purpose for this name."
     :enum
     ["usual" "official" "temp" "nickname" "anonymous" "old" "maiden"]
     :type "string"}
    :prefix
    {:description
     "Part of the name that is acquired as a title due to academic, legal, employment or nobility status, etc. and that appears at the start of the name."
     :type "array"
     :items {:type "string"}}
    :period
    {:description
     "Indicates the period of time when this name was valid for the named person."
     :$ref "#/definitions/Period"}
    :text
    {:description "A full text representation of the name."
     :type "string"}}}
  :Reference
  {:description "A reference from one resource to another."
   :properties
   {:reference
    {:description
     "A reference to a location at which the other resource is found. The reference may be a relative reference, in which case it is relative to the service base URL, or an absolute URL that resolves to the location where the resource is found. The reference may be version specific or not. If the reference is not to a FHIR RESTful server, then it should be assumed to be version specific. Internal fragment references (start with '#') refer to contained resources."
     :type "string"}
    :identifier
    {:description
     "An identifier for the other resource. This is used when there is no way to reference the other resource directly, either because the entity is not available through a FHIR server, or because there is no way for the author of the resource to convert a known identifier to an actual location. There is no requirement that a Reference.identifier point to something that is actually exposed as a FHIR instance, but it SHALL point to a business concept that would be expected to be exposed as a FHIR instance, and that instance would need to be of a FHIR resource type allowed by the reference."
     :$ref "#/definitions/Identifier"}
    :display
    {:description
     "Plain text narrative that identifies the resource in addition to the resource reference."
     :type "string"}}}
  :Identifier
  {:description
   "A technical identifier - identifies some entity uniquely and unambiguously."
   :properties
   {:assigner
    {:description "Organization that issued/manages the identifier."
     :$ref "#/definitions/Reference"}
    :system
    {:description
     "Establishes the namespace for the value - that is, a URL that describes a set values that are unique."
     :type "string"}
    :use
    {:description "The purpose of this identifier."
     :enum ["usual" "official" "temp" "secondary"]
     :type "string"}
    :value
    {:description
     "The portion of the identifier typically relevant to the user and which is unique within the context of the system."
     :type "string"}
    :type
    {:description
     "A coded type for the identifier that can be used to determine which identifier to use for a specific purpose."
     :$ref "#/definitions/CodeableConcept"}
    :period
    {:description
     "Time period during which identifier is/was valid for use."
     :$ref "#/definitions/Period"}}}
  :Period
  {:description
   "A time period defined by a start and end date and optionally time."
   :properties
   {:start
    {:description "The start of the period. The boundary is inclusive."
     :type "string"
     :pattern
     "-?[0-9]{4}(-(0[1-9]|1[0-2])(-(0[0-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"}
    :end
    {:description
     "The end of the period. If the end of the period is missing, it means that the period is ongoing. The start may be in the past, and the end date in the future, which means that period is expected/planned to end at that time."
     :type "string"
     :pattern
     "-?[0-9]{4}(-(0[1-9]|1[0-2])(-(0[0-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"}}}
  :Address
  {:description
   "An address expressed using postal conventions (as opposed to GPS or other location definition formats).  This data type may be used to convey addresses for use in delivering mail as well as for visiting locations which might not be valid for mail delivery.  There are a variety of postal address formats defined around the world."
   :properties
   {:use
    {:description "The purpose of this address."
     :enum ["home" "work" "temp" "old"]
     :type "string"}
    :city
    {:description
     "The name of the city, town, village or other community or delivery center."
     :type "string"}
    :type
    {:description
     "Distinguishes between physical addresses (those you can visit) and mailing addresses (e.g. PO Boxes and care-of addresses). Most addresses are both."
     :enum ["postal" "physical" "both"]
     :type "string"}
    :state
    {:description
     "Sub-unit of a country with limited sovereignty in a federally organized country. A code may be used if codes are in common use (i.e. US 2 letter state codes)."
     :type "string"}
    :line
    {:description
     "This component contains the house number, apartment number, street name, street direction,  P.O. Box number, delivery hints, and similar address information."
     :type "array"
     :items {:type "string"}}
    :postalCode
    {:description
     "A postal code designating a region defined by the postal service."
     :type "string"}
    :period
    {:description "Time period when address was/is in use."
     :$ref "#/definitions/Period"}
    :country
    {:description
     "Country - a nation as commonly understood or generally accepted."
     :type "string"}
    :district
    {:description "The name of the administrative area (county)."
     :type "string"}
    :text
    {:description "A full text representation of the address."
     :type "string"}}}
  :Practitioner_Qualification
  {:description
   "A person who is directly or indirectly involved in the provisioning of healthcare."
   :properties
   {:identifier
    {:description
     "An identifier that applies to this person's qualification in this role."
     :type "array"
     :items
     {:$ref "#/definitions/Identifier"}}
    :code
    {:description "Coded representation of the qualification."
     :$ref "#/definitions/CodeableConcept"}
    :period
    {:description "Period during which the qualification is valid."
     :$ref "#/definitions/Period"}
    :issuer
    {:description
     "Organization that regulates and issues the qualification."
     :$ref "#/definitions/Reference"}}
   :required ["code"]}
  :Practitioner
  {:description
   "A person who is directly or indirectly involved in the provisioning of healthcare."
   :properties
   {:address
    {:description
     "Address(es) of the practitioner that are not role specific (typically home address). \rWork addresses are not typically entered in this property as they are usually role dependent."
     :type "array"
     :items {:$ref "#/definitions/Address"}}
    :name
    {:description "The name(s) associated with the practitioner."
     :type "array"
     :items {:$ref "#/definitions/HumanName"}}
    :birthDate
    {:description "The date of birth for the practitioner."
     :type "string"
     :pattern
     "-?[0-9]{4}(-(0[1-9]|1[0-2])(-(0[0-9]|[1-2][0-9]|3[0-1]))?)?"}
    :resourceType
    {:description "This is a Practitioner resource"
     :type "string"
     :enum ["Practitioner"]}
    :active
    {:description
     "Whether this practitioner's record is in active use."
     :type "boolean"}
    :communication
    {:description
     "A language the practitioner is able to use in patient communication."
     :type "array"
     :items
     {:$ref "#/definitions/CodeableConcept"}}
    :identifier
    {:description
     "An identifier that applies to this person in this role."
     :type "array"
     :items
     {:$ref "#/definitions/Identifier"}}
    :qualification
    {:description
     "Qualifications obtained by training and certification."
     :type "array"
     :items {:$ref "#/definitions/Practitioner_Qualification"}}
    :telecom
    {:description
     "A contact detail for the practitioner, e.g. a telephone number or an email address."
     :type "array"
     :items
     {:$ref "#/definitions/ContactPoint"}}
    :gender
    {:description
     "Administrative Gender - the gender that the person is considered to have for administration and record keeping purposes."
     :enum ["male" "female" "other" "unknown"]
     :type "string"}}
   :required ["resourceType"]}
  :Organization
  {:description
   "A formally or informally recognized grouping of people or organizations formed for the purpose of achieving some form of collective action.  Includes companies, institutions, corporations, departments, community groups, healthcare practice groups, etc.",
   :properties
   {:address
    {:description
     "An address for the organization."
     :type "array"
     :items
     {:$ref "#/definitions/Address"}}
    :name
    {:description
     "A name associated with the organization."
     :type "string"}
    :type
    {:description
     "The kind(s) of organization that this is."
     :type "array"
     :items
     {:$ref "#/definitions/CodeableConcept"}}
    :resourceType
    {:description
     "This is a Organization resource"
     :type "string"
     :enum ["Organization"]}
    :alias
    {:description
     "A list of alternate names that the organization is known as or was known as in the past."
     :type "array"
     :items {:type "string"}}
    :active
    {:description
     "Whether the organization's record is still in active use."
     :type "boolean"}
    :identifier
    {:description
     "Identifier for the organization that is used to identify the organization across multiple disparate systems."
     :type "array"
     :items {:$ref "#/definitions/Identifier"}}
    :telecom
    {:description
     "A contact detail for the organization."
     :type "array"
     :items
     {:$ref "#/definitions/ContactPoint"}}
    :partOf
    {:description
     "The organization of which this organization forms a part."
     :$ref "#/definitions/Reference"}
    :endpoint
    {:description
     "Technical endpoints providing access to services operated for the organization."
     :type "array"
     :items {:$ref "#/definitions/Reference"}}
    :contact
    {:description
     "Contact for the organization for a certain purpose."
     :type "array"
     :items
     {:$ref "#/definitions/Organization_Contact"}}}
   :required ["resourceType"]}
  :Organization_Contact
  {:description
   "A formally or informally recognized grouping of people or organizations formed for the purpose of achieving some form of collective action.  Includes companies, institutions, corporations, departments, community groups, healthcare practice groups, etc.",
   :properties
   {:purpose
    {:description
     "Indicates a purpose for which the contact can be reached."
     :$ref "#/definitions/CodeableConcept"}
    :name
    {:description
     "A name associated with the contact."
     :$ref "#/definitions/HumanName"}
    :telecom
    {:description
     "A contact detail (e.g. a telephone number or an email address) by which the party may be contacted."
     :type "array"
     :items
     {:$ref "#/definitions/ContactPoint"}}
    :address
    {:description
     "Visiting or postal addresses for the contact."
     :$ref "#/definitions/Address"}}}
  :BundlePractitioner
  {:description
   "A container for a collection of practitioners."
   :properties
   {:entry
    {:description
     "A set of practitioners."
     :type "array"
     :items {:$ref "#/definitions/Practitioner"}}}
   :required ["entry"]}
  :BundleOrganization
  {:description
   "A container for a collection of organizations."
   :properties
   {:entry
    {:description
     "A set of organizations."
     :type "array"
     :items {:$ref "#/definitions/Organization"}}}
   :required ["entry"]}
  :ErrorResponse
  {:description
   "Represents unsuccessful response."
   :properties
   {:message
    {:description
     "Error message."
     :type "string"}}
   :required ["message"]}}
 :paths
 {"/practitioner"
  {:get {:tags [:practitioner]
         :summary "Returns a list of practitioners."
         :description "Returns either a list of practitioners or, if a query term was passed, a search result."
         :parameters [{:name :q
                       :type :string
                       :in :query
                       :required false
                       :description "A query term to search across multiple fields including the last and first names, city and state."}
                      {:name :_count
                       :type :number
                       :format :int
                       :in :query
                       :required false
                       :description "How many records to return. Default is 100."}
                      {:name :_format
                       :schema {:type :string :enum [:json :yaml :edn]}
                       :in :query
                       :required false
                       :description "The output format: JSON, YAML or EDN."}]
         :produces ["application/json" "text/yaml" "text/edn"]
         :responses {200 {:description "Successful operation"
                          :schema {:$ref "#/definitions/BundlePractitioner"}}
                     400 {:description "Input parameters are malformed."
                          :schema {:$ref "#/definitions/ErrorResponse"}}}}}
  "/practitioner/{Id}"
  {:get {:tags [:practitioner]
         :summary "Returns a single practitioner by its Id."
         :description "For a given NPI code, returns a single practitioner entity or an error message."
         :parameters [{:name :Id
                       :type :number
                       :in :path
                       :required true
                       :description "An NPI code, e.g. 1417052242."}
                      {:name :_format
                       :schema {:type :string :enum [:json :yaml :edn]}
                       :in :query
                       :required false
                       :description "The output format: JSON, YAML or EDN."}]
         :produces ["application/json" "text/yaml" "text/edn"]
         :responses {200 {:description "Successful operation"
                          :schema {:$ref "#/definitions/Practitioner"}}
                     404 {:description "No practitioner with such Id was found."
                          :schema {:$ref "#/definitions/ErrorResponse"}}}}}
  "/practitioner/$batch"
  {:get {:tags [:practitioner]
         :summary "Returns multiple practitioners by their Ids."
         :description "For a given set of codes, returns multiple practitioners at once."
         :parameters [{:name :ids
                       :type :string
                       :in :query
                       :required true
                       :description "A set of Ids separated with comma, e.g. 1417052242,1578566626."}
                      {:name :_format
                       :schema {:type :string :enum [:json :yaml :edn]}
                       :in :query
                       :required false
                       :description "The output format: JSON, YAML or EDN."}]
         :produces ["application/json" "text/yaml" "text/edn"]
         :responses {200 {:description "Successful operation"
                          :schema {:$ref "#/definitions/Practitioner"}}
                     400 {:description "Input parameters are malformed."
                          :schema {:$ref "#/definitions/ErrorResponse"}}}}}
  "/organization"
  {:get {:tags [:organization]
         :summary "Returns a list of organizations."
         :description "Returns either a list of organizations or, if a query term was passed, a search result."
         :parameters [{:name :q
                       :type :string
                       :in :query
                       :required false
                       :description "A query term to search across multiple fields including name and address."}
                      {:name :_count
                       :type :number
                       :format :int
                       :in :query
                       :required false
                       :description "How many records to return. Default is 100."}
                      {:name :_format
                       :schema {:type :string :enum [:json :yaml :edn]}
                       :in :query
                       :required false
                       :description "The output format: JSON, YAML or EDN."}]
         :produces ["application/json" "text/yaml" "text/edn"]
         :responses {200 {:description "Successful operation"
                          :schema {:$ref "#/definitions/BundleOrganization"}}
                     400 {:description "Input parameters are malformed."
                          :schema {:$ref "#/definitions/ErrorResponse"}}}}}
  "/organization/{Id}"
  {:get {:tags [:organization]
         :summary "Returns a single organization by its Id."
         :description "For a given NPI code, returns a single organization entity or an error message."
         :parameters [{:name :Id
                       :type :number
                       :in :path
                       :required true
                       :description "An NPI code, e.g. 1336142389."}
                      {:name :_format
                       :schema {:type :string :enum [:json :yaml :edn]}
                       :in :query
                       :required false
                       :description "The output format: JSON, YAML or EDN."}]
         :produces ["application/json" "text/yaml" "text/edn"]
         :responses {200 {:description "Successful operation"
                          :schema {:$ref "#/definitions/Organization"}}
                     404 {:description "No practitioner with such Id was found."
                          :schema {:$ref "#/definitions/ErrorResponse"}}}}}
  "/organization/$batch"
  {:get {:tags [:organization]
         :summary "Returns multiple organizations by their Ids."
         :description "For a given set of codes, returns multiple organization at once."
         :parameters [{:name :ids
                       :type :string
                       :in :query
                       :required true
                       :description "A set of Ids separated with comma, e.g. 1336142389,1346243375."}
                      {:name :_format
                       :schema {:type :string :enum [:json :yaml :edn]}
                       :in :query
                       :required false
                       :description "The output format: JSON, YAML or EDN."}]
         :produces ["application/json" "text/yaml" "text/edn"]
         :responses {200 {:description "Successful operation"
                          :schema {:$ref "#/definitions/BundleOrganization"}}
                     400 {:description "Input parameters are malformed."
                          :schema {:$ref "#/definitions/ErrorResponse"}}}}}}}
